<style>


#Namn {
    font-size:200%;
    Position:absolute;
    top: 5%;
    left: 35%;
    color: "#5D8896";
    width: 150;  
}

#undertext {
    font-size:120%;
    Position:absolute;
    top: 9.9%;
    left: 34.5%;
    color: "#5D8896";
    width: 150; 
}


h3, h4 {text-align: center;}

.bild {
   float: left;
   top: 10;
   left: 0;
   height: 15%;
   width: 110px;
}

.sidebar {

     height: 580px;
     width: 630px;
        margin-left: auto;
        margin-right: auto;


position: absolute;
right: 0;
top: 0;
padding-top: 70px;
background-color: white;
}

.sidebar div {
padding: 5px;
font-size: 15px;
display: block;

}

  #sidebar{
  float: right;
  top: 0;
  position: absolute; 
  width: 180px;
  height: 200%;
  padding: 0.5in var;
  background-color: #f2f2f2;
  font-size: 10pt;
}

.body-text {
margin-right: 150px;
font-size: 18px;
}

body {

        height: 842px;
        width: 850px;
        margin-left: auto;
        margin-right: auto;
 }

.main {

height: 110%;
width: 500px;
position: absolute;
right: left;
top: 30;
padding-top: 40px;
}

.main div {
padding: 8px;
font-size: 12px;
display: block;
}

.body-text {
margin-right: 150px;
font-size: 18px;
}
</style>
